.Navigation {
  height: 75px;
  
  #logo {
    color: $color-text;
    margin-top: 27px;
    svg {
      height: 38px;
    }
    .logo-text {
      fill: $color-text;
    }
    .logo-underline {
      fill: $color-highlight;
    }
  }
  
  
  a {
    border-bottom: none;
  }
  .link {
    &:hover, &.link-active{
      border-bottom: 2px solid $color-highlight;
    }
  }
  .left {
    margin-top: 33px;
    float: left;
  }
  .right {
    margin-top: 33px;
    float: right;
  }
  a {
    &:not(:last-child){
      margin-right: 1em;  
    }
    display: inline-block;
    font-size: $font-size-medium;
    text-decoration: none;
    color: $color-text;
    float: left;
  }


}
