.Navigation {

  border-bottom: 1px solid #ececec;
  height: 75px;

  .container {
    height: 100%;
  }

  a {
    margin-right: 1em;
    display: inline-block;
    text-decoration: none;
  }

  #logo {
    color: #333;
    margin-top: 0.55em;
    font-size: 2em;
    font-weight: bold;
  }

}
