.button {
  display: inline-block;
  font-size: $font-size-medium;
  padding: .25em .75em;
  border: $border;
  border-color: $color-highlight; 
  &:not(:last-of-type) {
    margin-right: 1em;    
  }
  &:hover {
    background-color: $color-highlight;
  }
  &.button_small {
    font-size: $font-size-normal;
    padding: .2em .5em;
  } 
}