@import "../../styles/variables";

.form_input {
  width: 100%;
  margin-bottom: $input-spacing;
  &:after{
    content:" ";
    display: table;
    clear: both;
    height: 0;
    font-size: 0;
  }
  label {
    position: absolute;
    max-width: $label-width;
    padding-top: 7px;
  }
  input {
    width: 100%;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: $font-size-medium;
    outline: none;
    border: none;
    height: 38px;
    border-bottom: $border;
    &:focus {
      border-bottom-color: $color-highlight;
    }
  }
  > input, .form_input_group{
    border-bottom: $border;
    height:38px;
    width: 100%;
  }
  &.form_input_with_label{
    > input, .form_input_group{
      padding-left: $label-width;
    }
  }
  
  
  @for $i from 2 to 5 {
    .input-split-#{$i} {
      width: calc( ( ( 100% ) / #{$i} ) - 1px);
      float: left;
    }
  }
}
